.forms input
{font-family:PFCentroSlabProMedium,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif
}

.header-wrap ul li::before
{content:'';
display:block;
height:11px;
height:0;
width:0;
border-bottom:6px solid transparent;border-left:6px solid #F39F18;
border-top:6px solid transparent;position:absolute;top:4px;left:0}
.header-wrap ul li a:hover{text-decoration:underline}
.header-left{margin-bottom:50px}
.forms{background-color:rgba(36,51,67,.8);
	padding:35px 35px 30px;color:#97a4b2;
	font-size:.875em;border-bottom:#1A222B 4px solid}
	.forms h4{color:#fff;font-size:2.0625em;text-transform:none;margin:0}
	.forms p{line-height:1.4375em;margin-top:10px}
	.forms label{margin-top:20px;margin-bottom:15px;display:block}
	.forms label span{letter-spacing:1.5px;display:block;margin-bottom:6px;color:#778390}
	.forms input{display:block;width:100%;
		border:none;-webkit-box-shadow:0 -3px #1F2A36;
		box-shadow:0 -3px #1F2A36;background-color:#34465A;text-indent:10px;
		padding:10px 0;-webkit-transition:all .5s ease;transition:all .5s ease;
		color:#fff;font-size:1.25em}

		.buttons,.buttons:active,.buttons:focus,.buttons:hover{color:#111;
			text-decoration:none}
			.forms input:focus{
				-webkit-box-shadow:0 -5px #EFE7E7;box-shadow:0 -5px #EFE7E7;
				background-color:#394E65}
				.forms .buttons{margin-top:15px}
				.arrow-wrap,.button-wrap{text-align:center}
				.buttons{display:inline-block;border:none;background-color:#D9d9e9;
					font-family:PFCentroSlabProBold,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
					font-size:1.375em;padding:12px 30px;
					border-bottom:#83909E 3px solid;
					-webkit-transition:all .25s ease;transition:all .25s ease;
					-webkit-border-radius:2px;border-radius:2px}
					.buttons:hover{background-color:#CCCCCC}
					.buttons:active{background-color:#F2F5F9}
					.arrow-wrap{position:relative;z-index:2;top:50px}
					.arrow-bottom{display:inline-block;width:40px;height:40px;
						background-image:url(img/arrow_down.png);cursor:pointer;opacity:.7;
						-webkit-transition:all .25s ease;transition:all .25s ease}

						