body {
	margin: 0;
	padding: 0;
	background: #eaeffd;
}


.content  {
	height: 860px;
	margin: 0;
	padding: 0;
	background: #eaeffd url(../img/fon.png) no-repeat fixed top center;
	background-size: 100%;

}

.header_main {
	width: 1024px;
	margin: auto;
}

header.top_header {
	padding: 15px 0px;
	margin: 0 auto;
}

.logo {
	float: left;
}

.communic {
	float: right;
	font-size: 22px;
}

.communic > a {
	margin-left: 20px;
}

.home h1 {
	color: rgba(36,51,67,.8);
	font-size: 50px;
	text-align: center;
	text-transform: uppercase;
	font-family: "RobotoBold";
}

/* Skeleton */
.flip-clock-wrapper ul {
  margin: 2px;
  width: 20px;
  height: 30px;
  border-radius: 3px;
}

.flip-clock-wrapper ul li {
  line-height: 37px;
}

.flip {
	margin: 2px;
	padding: 2px;
}

.flip-clock-wrapper ul li a div div.inn {
	font-size: 20px;
}

.flip-clock-dot {
  width: 5px;
  height: 5px;
}

.flip-clock-dot.top {
	top: 24px;
}

.flip-clock-dot.bottom {
	bottom: 24px;
}

.flip-clock-divider {
	margin:0;
	padding: 0;
  width: 13px;
  height: 40px; 
}

.flip-clock-label {
	padding: 0;
	right: 0;
	display: none;
}

